<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <Flatfee>
            <Flatfee>
                <status>1</status>
            </Flatfee>
        </Flatfee>
        <Flatfee>
            <Flatfee>
                <name>Flat Fee</name>
            </Flatfee>
        </Flatfee>
		<Flatfee>
            <Flatfee>
                <Flatfee_amount>5</Flatfee_amount>
            </Flatfee>
        </Flatfee>
        <Flatfee>
            <Flatfee>
                <customer_group>0</customer_group>
            </Flatfee>
        </Flatfee>
    </default>
</config>
